In [1]:
import numpy as np
import pandas as pd

In [2]:
# Loading the dataset

In [3]:
iris=pd.read_excel(r"C:\Users\shali\Downloads\iris.xls")

In [4]:
iris.head(12)

     SL   SW   PL   PW Classification
0   5.1  3.5  1.4  0.2    Iris-setosa
1   4.9  3.0  1.4  0.2    Iris-setosa
2   NaN  3.2  1.3  0.2    Iris-setosa
3   4.6  3.1  1.5  0.2    Iris-setosa
4   5.0  3.6  1.4  0.2    Iris-setosa
5   5.4  3.9  1.7  0.4    Iris-setosa
6   4.6  3.4  1.4  0.3    Iris-setosa
7   5.0  3.4  1.5  0.2    Iris-setosa
8   4.4  2.9  1.4  0.2    Iris-setosa
9   4.9  3.1  1.5  0.1    Iris-setosa
10  5.4  NaN  1.5  0.2    Iris-setosa
11  4.8  3.4  1.6  0.2    Iris-setosa

In [5]:
# Finding out the nullvalues

In [6]:
iris.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [7]:
# Handling the nullvalues

In [8]:
iris['SL'].mean()

5.855944055944056

In [9]:
iris['SL']=iris['SL'].fillna(iris['SL'].mean())

In [10]:
iris.head(3)

         SL   SW   PL   PW Classification
0  5.100000  3.5  1.4  0.2    Iris-setosa
1  4.900000  3.0  1.4  0.2    Iris-setosa
2  5.855944  3.2  1.3  0.2    Iris-setosa

In [11]:
constant=3.5
iris['SW'].fillna(constant,inplace=True)

In [12]:
iris.head(12)

          SL   SW   PL   PW Classification
0   5.100000  3.5  1.4  0.2    Iris-setosa
1   4.900000  3.0  1.4  0.2    Iris-setosa
2   5.855944  3.2  1.3  0.2    Iris-setosa
3   4.600000  3.1  1.5  0.2    Iris-setosa
4   5.000000  3.6  1.4  0.2    Iris-setosa
5   5.400000  3.9  1.7  0.4    Iris-setosa
6   4.600000  3.4  1.4  0.3    Iris-setosa
7   5.000000  3.4  1.5  0.2    Iris-setosa
8   4.400000  2.9  1.4  0.2    Iris-setosa
9   4.900000  3.1  1.5  0.1    Iris-setosa
10  5.400000  3.5  1.5  0.2    Iris-setosa
11  4.800000  3.4  1.6  0.2    Iris-setosa

In [13]:
iris['PL']=iris["PL"].fillna(iris['PL'].mode()[0])

In [14]:
iris

           SL   SW   PL   PW  Classification
0    5.100000  3.5  1.4  0.2     Iris-setosa
1    4.900000  3.0  1.4  0.2     Iris-setosa
2    5.855944  3.2  1.3  0.2     Iris-setosa
3    4.600000  3.1  1.5  0.2     Iris-setosa
4    5.000000  3.6  1.4  0.2     Iris-setosa
..        ...  ...  ...  ...             ...
145  6.700000  3.0  5.2  2.3  Iris-virginica
146  6.300000  2.5  5.0  1.9  Iris-virginica
147  6.500000  3.0  1.5  2.0  Iris-virginica
148  6.200000  3.4  5.4  2.3  Iris-virginica
149  5.900000  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [15]:
iris.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [16]:
# Defining x and y

In [17]:
x=iris.drop(columns=['Classification'])
y=iris[['Classification']]

In [18]:
# Splitting the data

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=50)

In [21]:
# Applying different classification methods

In [22]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
model1=KNeighborsClassifier()
model1.fit(x_train,y_train)
y_pred1=model1.predict(x_test)

C:\Users\shali\.conda\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [24]:
y_pred1

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica'], dtype=object)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy1=accuracy_score(y_test,y_pred1)
accuracy1

0.9111111111111111

In [27]:
from sklearn.svm import SVC

In [28]:
model2=SVC()
model2.fit(x_train,y_train)
y_pred2=model2.predict(x_test)

C:\Users\shali\.conda\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
y_pred2

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica'], dtype=object)

In [30]:
accuracy2=accuracy_score(y_test,y_pred2)
accuracy2

0.9333333333333333

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
model3=DecisionTreeClassifier(criterion='log_loss',max_depth=6)
model3.fit(x_train,y_train)
y_pred3=model3.predict(x_test)

In [33]:
y_pred3

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [34]:
accuracy3=accuracy_score(y_test,y_pred3)
accuracy3

0.9555555555555556

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
model4=RandomForestClassifier(n_estimators=100,max_depth=35)
model4.fit(x_train,y_train)
y_pred4=model4.predict(x_test)

C:\Users\shali\.conda\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [37]:
y_pred4

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [38]:
accuracy4=accuracy_score(y_test,y_pred4)
accuracy4

0.9555555555555556

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model5=LogisticRegression()
model5.fit(x_train,y_train)
y_pred5=model5.predict(x_test)

C:\Users\shali\.conda\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\shali\.conda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [41]:
y_pred5

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [42]:
accuracy5=accuracy_score(y_test,y_pred5)
accuracy5

0.8888888888888888

In [43]:
#  DecisionTreeClassifier and RandomForestClassifier gives the best result because both have an accuracy of 95.5%.
#  DecisionTree classifies the dataset into trees and predict the values, while RandomForest chooses the values that repeats often out of all the trees.
#  Logistic Regression gives the least accuracy among all the methods.